<form>
  <mat-card>
      <mat-card-header>
        <mat-card-title>登陆</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <mat-form-field class="full-width">
          <input matInput type="text" placeholder="email">
        </mat-form-field>

        <mat-form-field class="full-width">
          <input matInput type="password" placeholder="password">
        </mat-form-field>

        <button mat-button mat-raised-button type="button">登陆</button>
      </mat-card-content>

      <mat-card-actions>
        <p>还没有账户？<a>注册</a></p>
        <p>忘记密码？<a>找回</a></p>
      </mat-card-actions>
  </mat-card>
</form>